/* line 1, ../scss/_global.scss */
body {
  font-family: 'Lato';
}

/* line 5, ../scss/_global.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

/* line 14, ../scss/_global.scss */
.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

/* line 22, ../scss/_global.scss */
.bg-black {
  background-color: #000 !important;
}

/* line 26, ../scss/_global.scss */
.rounded-pill {
  border-radius: 5rem;
}

/* line 1, ../scss/_navbar.scss */
.navbar-custom {
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 4, ../scss/_navbar.scss */
.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
/* line 13, ../scss/_navbar.scss */
.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #fff;
}

/* line 1, ../scss/_masthead.scss */
header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 4rem;
  background: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
/* line 12, ../scss/_masthead.scss */
header.masthead .masthead-content {
  z-index: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* line 18, ../scss/_masthead.scss */
header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}
/* line 21, ../scss/_masthead.scss */
header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

@media (min-width: 992px) {
  /* line 28, ../scss/_masthead.scss */
  header.masthead {
    padding-top: calc(15rem + 55px);
    padding-bottom: 5rem;
  }
  /* line 33, ../scss/_masthead.scss */
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  /* line 37, ../scss/_masthead.scss */
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}
/* line 1, ../scss/_bootstrap-overrides.scss */
.bg-primary {
  background-color: #0B6AB0 !important;
}

/* line 5, ../scss/_bootstrap-overrides.scss */
.btn-primary {
  background-color: #0B6AB0;
  border-color: #0B6AB0;
}
/* line 8, ../scss/_bootstrap-overrides.scss */
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #084d80 !important;
  border-color: #084d80 !important;
}
/* line 14, ../scss/_bootstrap-overrides.scss */
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 106, 176, 0.5);
}

/* line 19, ../scss/_bootstrap-overrides.scss */
.btn-secondary {
  background-color: #F8D605;
  border-color: #F8D605;
}
/* line 22, ../scss/_bootstrap-overrides.scss */
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #c6ab04 !important;
  border-color: #c6ab04 !important;
}
/* line 28, ../scss/_bootstrap-overrides.scss */
.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 214, 5, 0.5);
}

/* line 2, ../scss/_footer.scss */
footer .social-buttons {
  height: 64px;
}
/* line 5, ../scss/_footer.scss */
footer .social-buttons .icons-sprite, footer .social-buttons .icons-facebook, footer .social-buttons .icons-instagram, footer .social-buttons .icons-twitter {
  width: 64px;
}

/* line 8, ../scss/_formulario.scss */
.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../images/header.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
/* line 16, ../scss/_formulario.scss */
.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
/* line 26, ../scss/_formulario.scss */
.call-to-action .darken {
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 64, icons/*.png */
.icons-sprite, .icons-facebook, .icons-instagram, .icons-twitter {
  background-image: url('/images/icons-s2fdfd739ef.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-facebook {
  background-position: 0 0;
}

/* line 84, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-instagram {
  background-position: 0 -64px;
}

/* line 84, ../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-twitter {
  background-position: 0 -128px;
}
